force-app/main/default/flows/email_trigger_jbvnl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>current_stats</name>
        <label>current stats</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Ritesh.fps@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ritesh.kumar@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Daily Consumption Update – {!$Record.lpDate__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello Ritesh,&lt;/p&gt;&lt;p&gt;Here is your consumption update:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Current Units For {!$Record.lpDate__c} :&lt;/strong&gt; {!$Record.kWImp__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Total Units (Month-to-Date):&lt;/strong&gt; {!sumofunits}&lt;/li&gt;&lt;li&gt;&lt;br&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Data Date:&lt;/strong&gt; {!$Record.lpDate__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please let me know if you need any further details.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Ritesh Kumar&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sumofunits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sum_of_units.kWImp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sum_of_units</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>firstdateofmonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
   YEAR(TODAY()),
   MONTH(TODAY()),
   1
)</expression>
    </formulas>
    <formulas>
        <name>lastday</name>
        <dataType>Date</dataType>
        <expression>DATE(
   YEAR(TODAY()),
   MONTH(TODAY()),
   1
)</expression>
    </formulas>
    <interviewLabel>email trigger jbvnl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>email trigger jbvnl</label>
    <loops>
        <name>sum_of_units</name>
        <label>sum of units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>sum</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>current_stats</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>sum</name>
        <label>sum</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sum_of_units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lpDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>firstdateofmonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>lpDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>lastday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JBVNL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sum</targetReference>
        </connector>
        <object>JBVNL__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sumofunits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
