force-app/main/default/flows/select_the_most_feasible_stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>select_one_stock</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>select one stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>if it has only one record or multiple records in the{!get_all_stocks} collection as customer to select one and see the stock analysis and assign the id of the selected record to {!stockid}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>select the most feasible stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>select the most feasible stock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>get_all_stocks</name>
        <label>get all stocks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_one_stock</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>full_name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>stockname</elementReference>
            </value>
        </filters>
        <filters>
            <field>short_name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>stockname</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>stockname</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__recordPrioritization</name>
            <capabilityName>PromptTemplateType://einstein_gpt__recordPrioritization</capabilityName>
            <inputs>
                <name>userInstructions</name>
                <capabilityInputName>userInstructions</capabilityInputName>
                <dataType>String</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>get_all_stocks</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>stockid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
